<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>USD to BRL Converter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form method="POST" action="#" th:action="@{/usdtobrl}" th:object="${usdtobrl}">
    <p>USD Quotation Convert Rate <input class="input" type="text" placeholder="USD to BRL" th:field="*{usd}"/></p>
    <p> USD <input class="input" type="text" placeholder="U$D" th:field="*{brl}"/></p>
    <button class="button centered" type="submit" value="Submit">Convert to BRL</button>
</form>
<p th:text="'USD ' + ${usdtobrl.brl} + ' in BRL: ' + ${converted}"></p>
</body>
</html>
